/*
- flex necessary for order and align-items
- relative or absolute or fixed is necessary for 
  to place the cildren elements as you want using : absolute , top ...
*/

/*
try to add iems-align: center to carousel 
and see another arragment way for items
*/

.container {
  position: relative;
  width: 99%;
  height: 300px;
  
  display: flex;
  align-items: center;
  
}
.container>div{
  position: absolute;

}
#carousel{
  width: 100%;
  height: 100%;
  display: flex;
}

#carousel>div {
  position: relative;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: lightgray;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

#carousel>div>img {
  width: 100%;
  height: 100%;
}

.left-control , .right-control {
  border-bottom: 4px solid grey ;
  border-left: 4px solid grey ;
  width: 15px;
  height: 15px;
  z-index: 99;
  cursor: pointer;
}

.left-control {
  left: 1%;
  transform: rotate(45deg);
}
.right-control {
  right: 1%;
  transform: rotate(-135deg);
}
